################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
/proj.android
/proj.ios_mac
/proj.linux
*.ipch
*.suo
*.db
*.obj
 .vs/ 
/proj.win32/Debug.win32
 