################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/cocos2d
/proj.android
/proj.ios_mac
/proj.linux
*.ipch
